.commandtree/commandtree.sqlite3

node_modules/

too_many_cooks_vscode_extension/.vscode-test/
too_many_cooks_vscode_extension/logs/
too_many_cooks_vscode_extension/out/

.DS_Store

too-many-cooks/build/

.too_many_cooks/

too-many-cooks/logs/
too-many-cooks/coverage/

website/playwright-report/
website/_site/
website/coverage/

*.vsix

test-results/

codegen/.dart_tool/

too_many_cooks_vscode_extension/coverage/

*.tgz

too-many-cooks-0.4.0.tar.gz

too-many-cooks/packages/core/build/

too-many-cooks/packages/local/build/

*.tsbuildinfo

too-many-cooks/packages/cloud-proxy/build/

too-many-cooks/packages/local/coverage/

scripts/logs/

too_many_cooks_vscode_extension/.v8-coverage/

too_many_cooks_vscode_extension/coverage-integration/

too-many-cooks/packages/cloud-proxy/

too-many-cooks/packages/local/prisma/migrations/

.test-vsix-workspace/
