.commandtree/commandtree.sqlite3


node_modules/

too_many_cooks_vscode_extension/.vscode-test/
too_many_cooks_data/too_many_cooks_vscode_extension/.vscode-test/

too_many_cooks_vscode_extension/logs/

.dart_tool/

too_many_cooks/build/

.DS_Store
too_many_cooks_vscode_extension/out/

.too_many_cooks/


too_many_cooks/logs/