.dart_tool/**
.vscode/**
.vscode-test/**
test/**
lib/**
scripts/**
node_modules/.package-lock.json
node_modules/@electron/**
node_modules/@vscode/test-cli/**
node_modules/@vscode/test-electron/**
node_modules/@playwright/**
node_modules/glob/**
node_modules/mocha/**
*.vsix
*.yaml
*.lock
.vscode-test.mjs
analysis_options.yaml
dart_test.yaml
playwright.config.ts
pubspec.yaml
pubspec.lock
build.sh
build_and_install.sh
run_tests.sh
out/test/**
out/*.dart.js
out/*.dart.js.deps
out/*.dart.js.map
build/**
*.bak*
src/**
